{{ define "main" }}

<section class="insights-list">

    <h1>{{ .Title }}</h1>

    <div class="insights-intro">
        {{ .Content }}
    </div>

        {{ $paginator := .Paginate (where site.RegularPages "Section" "insights") }}

        {{ range $paginator.Pages }}

        <article class="insight-summary">
            <h2>
                <a href="{{ .RelPermalink }}">
                    {{ .Title }}
                </a>
            </h2>

            <div class="insight-meta">
                {{ .Date.Format "January 2, 2006" }}
            </div>

            <p>
            {{ $truncated := .Content | plainify | strings.Truncate 170 }}
            {{ $truncated }}
        
            {{ if gt (len (.Content | plainify)) 170 }}
                <a href="{{ .RelPermalink }}" class="read-more">Read more</a>
            {{ end }}
            </p>

        </article>

    {{ end }}
    <div class="pagination">

        {{ if $paginator.HasPrev }}
            <a href="{{ $paginator.Prev.URL }}">← Newer</a>
        {{ end }}

        {{ if $paginator.HasNext }}
            <a href="{{ $paginator.Next.URL }}">Older →</a>
        {{ end }}

    </div>
</section>

{{ end }}
