{{ define "main" }}

<article class="insight-article">

    <header class="insight-header">
        <h1>{{ .Title }}</h1>

        <div class="insight-meta">
            <span>{{ .Date.Format "January 2, 2006" }}</span>
            {{ with .Params.tags }}
                •
                {{ range $index, $tag := . }}
                    {{ if gt $index 0 }} {{ end }}
                    <a href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}/" class="tag">
                        {{ $tag }}
                    </a>
                {{ end }}
            {{ end }}
        </div>
    </header>

    <div class="insight-content">
        {{ .Content }}
    </div>

</article>

{{ end }}
