<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="/css/style.css?v={{ now.Unix }}">
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content="{{ .Site.Params.author }}">
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ .Site.Params.description }}">
    <meta property="og:type" content="website">
</head>
<script src="/js/nav.js"></script>
<body>

<header class="site-header">
    <div class="container">

        <div class="header-flex">
            <h1 class="site-title">{{ .Site.Title }}</h1>

            <button class="nav-toggle" aria-label="Toggle Menu">
                ☰
            </button>

           <nav class="site-nav">
              {{ $p := .RelPermalink }}
              {{ range .Site.Menus.main }}
                {{ $u := .URL }}
                {{ $active := or (eq $p $u) (and (ne $u "/") (hasPrefix $p $u)) }}
                <a href="{{ $u }}" class="{{ if $active }}active{{ end }}">{{ .Name }}</a>
              {{ end }}
            </nav>
        </div>

    </div>
</header>

    <main class="site-content">
        <div class="container">
            {{ block "main" . }}{{ end }}
        </div>
    </main>

    <footer class="site-footer">
        <div class="container">
            <p>© {{ now.Year }} W3DataNet</p>
        </div>
    </footer>

</body>
</html>
