{{ define "main" }}

<section class="tag-results">
    <h1>Articles tagged with: "{{ .Title }}"</h1>

    <div class="insights-list">
        {{ $paginator := .Paginate (where site.RegularPages "Section" "insights") }}

        {{ range $paginator.Pages }}
            <article class="insight-summary">
                <h2>
                    <a href="{{ .RelPermalink }}">
                        {{ .Title }}
                    </a>
                </h2>

                <div class="insight-meta">
                    {{ .Date.Format "January 2, 2006" }}
                </div>

                <p>
                    {{ $truncated := .Content | plainify | strings.Truncate 200 }}
                    {{ $truncated }}
                
                    {{ if gt (len (.Content | plainify)) 200 }}
                        <a href="{{ .RelPermalink }}" class="read-more">Read more...</a>
                    {{ end }}
                </p>
            </article>
        {{ end }}
    </div>
    <div class="pagination">
    
        {{ if $paginator.HasPrev }}
            <a href="{{ $paginator.Prev.URL }}">← Newer</a>
        {{ end }}
    
        {{ range $paginator.Pagers }}
    
            {{ if eq . $paginator }}
                <span class="current">{{ .PageNumber }}</span>
            {{ else }}
                <a href="{{ .URL }}">{{ .PageNumber }}</a>
            {{ end }}
    
        {{ end }}
    
        {{ if $paginator.HasNext }}
            <a href="{{ $paginator.Next.URL }}">Older →</a>
        {{ end }}
    
    </div>
</section>

{{ end }}
